header {
	width: 100%;
	background-color: var(--color-bg);
	z-index: 100;
	box-shadow: 0px 0px 10px var(--color-grey);
}

header > div {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
@media screen and (min-width: 768px) {
	header > div {
		flex-direction: row;
	}
}

header nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	list-style: none;
	font-size: 1.125rem;
}

header nav ul button {
	background: none;
	outline: none;
	border: none;
	color: var(--color-neutral);
	font-weight: var(--font-regular);
	font-size: 1.125rem;
}
header nav ul button img {
	width: 2.5rem;
	height: 2.5rem;
	display: block;
}
header nav ul button:hover {
	color: var(--color-secondary);
}
