#hero {
	padding: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
}

#hero img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

#hero div {
	display: flex;
	align-items: center;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 100%;
}

#hero h1 {
	color: black;
	width: 50%;
	font-size: 4.5rem;
}
