#slides {
	position: relative;
	border: 1px solid var(--color-grey);
	border-radius: var(--border-radius);
	overflow: hidden;
}

#slides div.slide {
	width: 100%;
	position: relative;
}

#slides div.slide img.slide-image {
	width: 100%;
	display: block;
}

#slides div.slide div.slide-text {
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: #2947a977;
	color: #fff;
	display: flex;
	align-items: center;
	padding: 0.5rem 1rem;
}

#slides div.slide div.slide-text p.slide-heading {
	font-size: 1.25rem;
	font-weight: var(--font-bold);
	margin-right: 1rem;
}

#slides div.slide div.slide-text p.slide-description {
	font-size: 1rem;
}
@media screen and (min-width: 768px) {
	#slides div.slide div.slide-text {
		padding: 1rem 2rem;
	}
	#slides div.slide div.slide-text p.slide-heading {
		font-size: 1.875rem;
	}
	#slides div.slide div.slide-text p.slide-description {
		font-size: 1.5rem;
	}
}

#slides button.slide-button {
	border: none;
	background-color: #2947a977;
	color: var(--color-white);
	position: absolute;
	padding: 1rem;
	z-index: 1;
	top: 0;
}
@media screen and (min-width: 768px) {
	#slides button.slide-button {
		top: 50%;
		transform: translateY(-50%);
		padding: 1.5rem;
	}
}

#slides button.slide-button:hover {
	background-color: #29479999;
}

#slides button.slide-next {
	right: 0;
}

#slides button.slide-previous {
	left: 0;
}

.slide-fade-in {
	animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
